@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shelterer</h1>
    <p class="lead">Shelterer umożliwa odstęp bazy obiektów noclegowych różnej klasy.</p>
    <p><a href="/Shelter" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

    <div class="row">
        <div class="col-md-4">
            <h2>Akademicki Klub Turystyczny Watra</h2>
            <p>Poznaj Nasz Klub</p>
            <p><a class="btn btn-default" href="http://www.akt.gliwice.pl/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Mapa Turystyczna</h2>
            <p>Zaplanuj trasę</p>
            <p><a class="btn btn-default" href="http://mapa-turystyczna.pl/">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Numeryczna Prognoza Pogody</h2>
            <p>Sprawdź pogodę przed wyjazdem</p>
            <p><a class="btn btn-default" href="http://www.meteo.pl/">Learn more &raquo;</a></p>
        </div>
</div>